@import '../../base/vars.css';

.bodyWrapper {
  background-color: var(--primaryBgColor);
  min-height: calc(100vh - var(--headerHeight));
  overflow: hidden;
}

.bodyContainer {
  display: flex;
  background: white;
  height: 100%;
}