.imagePreview {
  display: block;
  margin: 20px auto;
  max-height: 100px;
  background-size: cover;
}

.warning {
  margin: auto;
  font-size: 28px;
  text-align: center;
}

.link {
  margin: 0 5px;
}