.itemRating {
  font-size: 32px;
}

.ratingButton {
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.ratingButton:disabled {
  cursor: default;
  opacity: 0.8;
}