.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.formWrapper {
  width: 60%;
  margin: 20px auto 0 auto;
  background-color: #fff;
  padding: 40px;
}

@media (max-width: 660px) {
  .formWrapper {
    width: 100%;
    padding: 20px 0;
  }
}

@media (min-width: 660px) {
  .formWrapper {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .formWrapper {
    width: 70%;
  }
}
